<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.inria.diverse.gpfl.design.Activator"
               id="fr.inria.diverse.gpfl.design"
	       name="gpfl">
    </component>
  </extension>
</plugin>
