<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Gpfl -->
      <package
            uri="http://www.inria.fr/diverse/gpfl"
            class="fr.inria.diverse.gpfl.model.Gpfl.GpflPackage"
            genModel="model/gpfl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gpfl -->
      <package
            uri="http://www.inria.fr/diverse/gpfl"
            class="fr.inria.diverse.gpfl.model.gpfl.GpflPackage"
            genModel="model/gpfl.genmodel"/>
   </extension>

</plugin>
